[submodule "third_party/bootstrap"]
	path = third_party/bootstrap
	url = git@github.com:gaye/bootstrap.git
[submodule "third_party/pathjs"]
	path = third_party/pathjs
	url = git@github.com:gaye/pathjs
